
@media screen and (max-width: 576px){
    #ketiga {
        margin: 0px;
        padding: 0px;
        .row5 {
            .agenda {
                float: left;
            }
        }
    }
}
